:root {
  --bs-blue: #446E9B;
  --bs-navy: #333366;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #CD0200;
  --bs-orange: #d16409;
  --bs-yellow: #D47500;
  --bs-green: #3CB521;
  --bs-teal: #20c997;
  --bs-cyan: #3399F3;
  --bs-white: #fff;
  --bs-gray: #777;
  --bs-gray-dark: #333;
  --bs-brown: #996600;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #eee;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #999;
  --bs-gray-600: #777;
  --bs-gray-700: #495057;
  --bs-gray-800: #333;
  --bs-gray-900: #2d2d2d;
  --bs-primary: #446E9B;
  --bs-secondary: #999;
  --bs-success: #3CB521;
  --bs-info: #3399F3;
  --bs-warning: #D47500;
  --bs-danger: #CD0200;
  --bs-light: #eee;
  --bs-dark: #333;
  --bs-purple: #6f42c1;
  --bs-navy: #333366;
  --bs-lemon: #FFFF00;
  --bs-brown: #996600;
  --bs-primary-rgb: 68, 110, 155;
  --bs-secondary-rgb: 153, 153, 153;
  --bs-success-rgb: 60, 181, 33;
  --bs-info-rgb: 51, 153, 243;
  --bs-warning-rgb: 212, 117, 0;
  --bs-danger-rgb: 205, 2, 0;
  --bs-light-rgb: 238, 238, 238;
  --bs-dark-rgb: 51, 51, 51;
  --bs-purple-rgb: 111, 66, 193;
  --bs-navy-rgb: 51, 51, 102;
  --bs-lemon-rgb: 255, 255, 0;
  --bs-brown-rgb: 153, 102, 0;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 119, 119, 119;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #777;
  --bs-body-bg: #fff; }
  
  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
